{% extends 'base.html.twig' %}

{% block title %}Reconnaissance de plante{% endblock %}

{% block body %}

    {{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}
    {{ form_row(form.photo) }}
    <button type="submit">Envoyer</button>
    {{ form_end(form) }}

    {% if error %}
        <div>
            <p>{{ error }}</p>
        </div>
    {% endif %}

    {% if result %}

        {% set cards = [
            {
                title: 'Arrosage',
                text: result.watering ?? 'Non déterminé',
                icon: 'water',
                category: 'requirement'
            },
            {
                title: 'Rempotage',
                text: result.repotting ?? 'Non déterminé',
                icon: 'potted_plant',
                category: 'plant_care'
            },
            {
                title: 'Exposition',
                text: result.exposure ?? 'Non déterminé',
                icon: 'sun',
                category: 'requirement'
            },
            {
                title: 'Maladie / Parasite',
                text: result.disease ?? 'Non déterminé',
                icon: 'flower',
                category: 'description'
            },
            {
                title: 'Humidité',
                text: result.humidity ?? 'Non déterminé',
                icon: 'wet',
                category: 'requirement'
            },
            {
                title: 'Température',
                text: result.temperature ?? 'Non déterminé',
                icon: 'temperature',
                category: 'requirement'
            },
            {
                title: 'Substrat',
                text: result.soil ?? 'Non déterminé',
                icon: 'soil',
                category: 'requirement'
            },
            {
                title: 'Résultat fiable',
                text: result.isSafeGuess ? 'Oui' : 'Non',
                icon: 'flower',
                category: 'description'
            },
            {
                title: 'Période de plantation',
                text: result.planting_period ?? 'Non déterminé',
                icon: 'clock',
                category: 'plant_care'
            },
            {
                title: 'Distance de plantation',
                text: result.planting_distance ?? 'Non déterminé',
                icon: 'space',
                category: 'plant_care'
            },
            {
                title: 'Engrais',
                text: result.fertilizer ?? 'Non déterminé',
                icon: 'compost',
                category: 'plant_care'
            },
            {
                title: 'Hauteur',
                text: result.height ?? 'Non déterminé',
                icon: 'height',
                category: 'description'
            },
            {
                title: 'Largeur',
                text: result.width ?? 'Non déterminé',
                icon: 'width',
                category: 'description'
            },
            {
                title: 'Feuillage',
                text: result.foliage ?? 'Non déterminé',
                icon: 'maple_leaf',
                category: 'description'
            },
            {
                title: 'Type de feuillage',
                text: result.foliage_type ?? 'Non déterminé',
                icon: 'autumn',
                category: 'description'
            },
            {
                title: 'Forme',
                text: result.shape ?? 'Non déterminé',
                icon: 'circle',
                category: 'description'
            },
            {
                title: 'Fleurs',
                text: result.flowers ?? 'Non déterminé',
                icon: 'flower',
                category: 'description'
            },
            {
                title: 'Période de floraison',
                text: result.bloom_period ?? 'Non déterminé',
                icon: 'flower',
                category: 'description'
            },
            {
                title: 'Fruits',
                text: result.fruits ?? 'Non déterminé',
                icon: 'apple',
                category: 'description'
            }
        ] %}

        {% set categories = {
            requirement: 'Besoins de la plante',
            plant_care: 'Entretien et plantation',
            description: 'Description physique',
            health: 'Santé'
        } %}

        <div>
            <div class="result-header">
                <h1>Résultat</h1>
                <div class="result-success">
                    {{ include('@icons/check.svg') }}
                    <p>Une plante a été identifiée !</p>
                </div>
            </div>

        </div>

        <div class="overview">
            <div class="plant-card">
                <div class="plant-card__header">
                    <div class="plant-card__infos">
                        <h2 class="plant-card__common-name">{{ result.commonName ?? 'Non déterminé' }}</h2>
                        <p class="plant-card__scientific-name">{{ result.scientificName ?? 'Non déterminé' }}</p>
                    </div>
                    <div class="plant-card__badges">
                        {% if result.toxicity %}
                            <div class="plant-card__badge plant-card__badge--toxicity">
                                {{ include('@icons/nuclear.svg') }}
                                <p>Toxique pour les <br>animaux</p>
                            </div>
                        {% endif %}
                        <div class="plant-card__badge plant-card__badge--family">
                            <p>{{ result.family ?? 'Aucune famille' }}</p>
                        </div>
                    </div>
                </div>
                <div class="plant-card__content">
                    <h3>Description</h3>
                    <p>{{ result.description ?? 'Aucune description' }}</p>
                </div>
            </div>
            <div class="detail-item">
                {{ include('@icons/temperature.svg') }}
                <div class="detail-item__content">
                    <h3>Température</h3>
                    <p>{{ result.temperature_number ?? 'Non déterminé' }}</p>
                </div>
            </div>
            <div class="detail-item">
                {{ include('@icons/water.svg') }}
                <div class="detail-item__content">
                    <h3>Eau</h3>
                    <p>{{ result.watering_small ?? 'Non déterminé' }}</p>
                </div>
            </div>
            <div class="detail-item">
                {{ include('@icons/sun.svg') }}
                <div class="detail-item__content">
                    <h3>Exposition</h3>
                    <p>{{ result.exposure_small ?? 'Non déterminé' }}</p>
                </div>
            </div>
            <div class="detail-item">
                {{ include('@icons/potted_plant.svg') }}
                <div class="detail-item__content">
                    <h3>Rempotage</h3>
                    <p>{{ result.repotting_small ?? 'Non déterminé' }}</p>
                </div>
            </div>
        </div>

        <div class="cards-sections">
            {% for categoryKey, categoryTitle in categories %}
                <section class="cards-section cards-section--{{ categoryKey }}">
                    <h2 class="cards-section__title">{{ categoryTitle }}</h2>

                    <div class="cards-section__grid">
                        {% for card in cards %}
                            {% if card.category == categoryKey %}
                                {% include ('components/_card.html.twig') with {
                                    title: card.title,
                                    text: card.text,
                                    category: card.category,
                                    icon: card.icon
                                } only %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </section>
            {% endfor %}
        </div>

        {% if result.careTips is not empty %}
            <h3>Conseils</h3>
            <ul>
                {% for tip in result.careTips %}
                    <li>{{ tip }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endif %}
{% endblock %}
