{% extends 'base.html.twig' %}

{% block title %}Hello IndexPlantController!{% endblock %}

{% block body %}
    <ul class="plant__list">
        {% for plant in plants %}
            <li class="plant__item">
                <a class="plant__link" href="{{ path('app_get_plant', {'plant': plant.id}) }}">

                    {% set image = plantImages[plant.id] ?? null %}

                    {% if image %}
                        <img class="plant__img" src="{{ image.url }}" alt="{{ plant.commonName }}">
                    {% endif %}
                    <div class="plant__infos">
                        <p class="plant__common-name">
                            {{ plant.commonName }}
                        </p>
                        <p class="plant__scientific-name">
                            {{ plant.scientificName }}
                        </p>
                        <p class="plant__exposure">
                            {{ plant.exposureSmall }}
                        </p>
                        <p class="plant__watering">
                            {{ plant.wateringSmall }}
                        </p>
                    </div>

                </a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
