{% extends 'base.html.twig' %}

{% block title %}Mes plantes{% endblock %}

{% block body %}
    <ul class="plant__list">
        {% for plant in plants %}
            <li class="plant__item">
                <a class="plant__link" href="{{ path('app_get_plant', {'plant': plant.id}) }}">


                    {% if plant.attachments is not empty %}
                        {% for attachment in plant.attachments %}
                            <img
                                class="plant__img"
                                src="{{ asset(attachment.path) }}"
                                alt="{{ attachment.altText|default('Photo de ' ~ plant.scientificName) }}"
                            >
                        {% endfor %}
                    {% else %}
                        <img
                            class="plant__img"
                            src="{{ asset('images/placeholder.jpg') }}"
                            alt="Image placeholder pour {{ plant.scientificName }}"
                        >
                    {% endif %}
                    <div class="plant__infos">
                        <div class="plant__heading">
                            <p class="plant__common-name">
                                {{ plant.commonName }}
                            </p>
                            <p class="plant__scientific-name">
                                {{ plant.scientificName }}
                            </p>
                        </div>
                        <div class="plant__details">
                            <p class="plant__exposure">
                                {{ plant.exposureSmall }}
                            </p>
                            <p class="plant__watering">
                                {{ plant.wateringSmall }}
                            </p>
                        </div>

                    </div>

                </a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
